<?php
/**
 * Copy to .env.php on the server and fill real secrets.
 * Docker shared MySQL host MUST be: shared-mysql
 * Local XAMPP: use DB_HOST=localhost
 */
$_ENV['DB_HOST'] = "shared-mysql";
$_ENV['DB_USERNAME'] = "hiuser";
$_ENV['DB_PASSWORD'] = "CHANGE_ME_HIUSER_STRONG_PASSWORD";
$_ENV['DB_NAME'] = "globalexchange_live";

$_ENV['WD_CONTRACT'] = '0x55d398326f99059fF775485246999027B3197955';
$_ENV['WD_FROM_ADDRESS'] = '';
$_ENV['WD_PRIVATE_KEY'] = '';
$_ENV['USDT_CONTRACT'] = '0x55d398326f99059fF775485246999027B3197955';
$_ENV['USDT_ABI'] = '[{"constant":true,"inputs":[{"name":"_owner","type":"address"}],"name":"balanceOf","outputs":[{"name":"","type":"uint256"}],"type":"function"},{"constant":false,"inputs":[{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transfer","outputs":[{"name":"","type":"bool"}],"type":"function"}]';
$_ENV['OWN_PAY_RECEIVEWALLET'] = '';
$_ENV['OWN_PAY_GAS_WALLET'] = '';
$_ENV['OWN_PAY_GAS_PRIVATE_KEY'] = '';

$_ENV['SMTP_BREVO_FROM_NAME'] = 'GlobalExchange';
$_ENV['SMTP_BREVO_FROM_EMAIL'] = '';
$_ENV['SMTP_BREVO_API_KEY'] = '';
